@import url(https://fonts.googleapis.com/css?family=Nunito+Sans|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
    font-family: 'Nunito';
}

h1{
  font-size: 70px;
}

h2{
  font-size: 65px;
}

.own-nav{
  background: transparent!important;
}

.nav-up{
  top: -90px;
}

.navbar-brand img{
  width: 27%;
}

.nav-center > .navbar-nav > li > a{
  padding-top: 11px;
  padding-bottom: 11px;
}

#custom-nav{
  padding: 10px 0px;
}

.containerNavMenu{
  display: flex;
  justify-content: space-between;
}

.navbarHeader{
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  width: 25%;
}

.navCenter{
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  width: 50%;
}

.navbarLeft{
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  width: 25%;
}

.navMobileRight{
  vertical-align: middle;
  margin: auto;
  text-align: center;
  width: 25%;
}
/* .affix {
  top: 20px;
} */

.header-explore{
  position: absolute;
  width: 100%;
  z-index: 2;
}

.body-modal-explore > .modal-body {
    position: relative;
    padding: 10px;
}

#custom-nav {
  min-width: 100%;
  background-color: #000000;
  opacity: 0.9;
  -webkit-transition: background .5s ease-in-out, opacity .5s ease;
  -moz-transition: background .5s ease-in-out, opacity .5s ease;
  transition: background .5s ease-in-out, opacity .5s ease;
}

.navbar-default{
  background-color: #f8f8f800;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-header{
  float: left;
}

#navbar{
  float: right;
}
.navbar-toggle{
  display: inline-block;
  float: left;
  border: none;
}

.navbar-nav{
  float: right;
}

.navbar a{
  font-size: 11px;
  font-weight: 600;
  color: #fff!important;
  letter-spacing: 1px;
}

.nav-center{
  float: left;
  position: relative;
  left: 35%;
}

.logo-link img{
  width: 27%
}

.btn-success {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
  border-radius: 0px;
  font-size: 12px;
  font-weight: 600;
  padding: 14px 47px;
}

.btn-success:hover {
    color: #fff;
    background-color: #353535;
    border-color: #353535;
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #353535;
    border-color: #353535;
}

.btn-success:active:hover, .btn-success.active:hover, .open >
.dropdown-toggle.btn-success:hover, .btn-success:active:focus,
.btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus, .btn-success.active.focus, .open >
.dropdown-toggle.btn-success.focus{
  color: #fff;
  background-color: #353535;
  border-color: #353535;
}

.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #353535;
    border-color: #353535;
}

.button-modal-nav{
  display: inline-block;
  text-align: right;
  margin: 5px 0% 5px 25%;
}

.modal-footer-container{
  box-shadow: 0px 0px 12px #80808063;
}

.modal-footer-container .modal-footer{
  text-align: center;
  padding: 5px;
}

.menu-modal-nav h6{
  font-weight: 600;
  color: #A4A4A4;
}

.menu-modal-nav ul{
  padding: 12px 0px;
}

.menu-modal-nav ul > li{
  font-size: 24px;
  font-weight: 300;
}

.menu-modal-nav ul > li > a{
  color: #6D636D;
}

.container-list-modal{
  padding: 0px 12px;
}

.container-list-modal .open > .dropdown-menu {
  position: relative;
}

.container-list-modal .dropdown-menu{
  float: none;
  border: none;
  box-shadow: none;
}

.container-list-modal .dropdown-menu li{
  text-align: center;
}

.link-translate{
  text-align: center;
  padding: 6px 0px;
}

.link-translate a{
  font-size: 12px;
  color: #a4a4a4;
  font-weight: 600;
}

.container-list-modal .dropdown-menu > li > a{
  font-size: 12px;
  color: #a4a4a4;
  font-weight: 600;
}

.modal-dialog{
  width: 100%;
  overflow: scroll;
  background: transparent;
  margin: 0px auto;
}

.modal-content {
  background-color: #fffffff5;
  border-radius: 0px;
}

.menu-modal-nav{
  margin: auto;
  width: 50%;
}

.container-list-modal .dropdown-menu{
  background-color: transparent;
}

.container-list-modal .dropdown-menu > li > a{
  width: 20%;
  margin: auto;
}

.container-list-modal .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color: #f5f5f55c;
}

.modal-footer span{
  font-size: 18px;
}


.modal-signup-header{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.articles img{
  width: 74%;
  float: right;
  margin-top: 20px;
}

.cont-articles{
  margin-top: 7%;
  padding: 25px;
}

.cont-members{
  margin-top: 5%;
  padding: 20px;
}

.cont-articles h4{
  color: #fff;
  margin: auto;
  width: 45%;
  margin-bottom: 20px;
  margin-bottom: 10px;
}

.list-members-search li{
  margin: 20px;
  padding: 0 20px;
  text-align: right;
  width: 85%;
}

.close span{
  outline: none!important;
}

.modal-header .close{
  outline: none;
}

.modal-search-header .modal-header .close {
    margin-top: -10px;
    z-index: 999;
    position: relative;
}

.modal-search-header span{
  color: #fff;
  font-size: 35px;
}

.cont-articles p{
  color: #fff;
  padding: 25px;
  font-weight: 300;
  font-size: 12px;
}

.nav-tabs > li:last-child{
  float: right;
  margin: 5px;
}

.info-article{
  margin-top: 11%;
}

.first-child-article{
  padding: 20px 0px;
}

.cont-img-banner{
  position: relative;
  top: 28%;
  transform: translate(0,-28%);
}

.cont-img-banner img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.nav-tabs > li > a:hover {
  background: transparent;
  color: #000;
  text-decoration: underline;
  border: none;
}

.button-right:hover {
  background: #353535c9!important;
  text-decoration: none!important;
}
/****** HOME *******/

.container-text p{
  font-size: 18px;
  font-weight: 200;
  color: #7A747A;
  line-height: 35px;
}

.container-text{
  margin: auto;
  width: 96%;
  padding: 20px;
}

.link-topics article{
  margin: 5% auto;
  width: 500px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
}

.article-col-4{
  width: 320px!important;
  height: 685px!important;
  margin: 25% auto 10%!important;
}

.img-post{
  height: 221px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-post1{
  background-image: url(../assets/images/imgPost.png);
}

.image-post2{
  background-image: url(../assets/images/imgPost2.png);
}

.image-post3{
  background-image: url(../assets/images/imgPost3.png);
}

.image-post4{
  background-image: url(../assets/images/imgPost4.png);
}

.cont-img-inspirations{
  height: 48px;
  width: 125px;
  margin: auto;
  background-image: url(../assets/images/imgPost.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.links-inspiration{
  display: inline-block;
  width: 100%;
  padding-bottom: 7%;
}

.list-links-inspiration{
  display: flex;
  justify-content: space-around;
  width: 63%;
  margin: auto;
}

.list-links-inspiration p{
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #8F8F8F;
}

.article-right{
  float: right;
}

.container-banner-home{
  position: relative;
  top: -20px;
  background: url(../assets/images/home.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-home{
  text-align: center;
  height: 600px;
  background: rgba(41, 29, 27, 0.44);
}

.cont-text-banner{
  position: relative;
  top: 35%;
  transform: translate(0,-35%);
}

.cont-text-banner h1{
  color: #fff;
  font-weight: 300;
}

.cont-text-banner p{
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  padding: 0px 15px;
}

.button-home{
  position: relative;
  top: 40%;
  transform: translate(0,-35%);
}

.button-home a{
  font-family: 'Nunito Sans';
  padding: 14px 30px;
  background: #fff;
  color: #6D636D;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  border: 1px solid #6D636D;
  border-radius: 3px;
}

.button-home a:hover{
  background: #000000;
  text-decoration: none;
  color: #fff;
}

.nav-tabs{
  border: none;
  padding: 20px 0px;
  width: 97%;
  margin: auto;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border:none;
}

#first-child-profile{
  padding: 24px 25px 24px 10px;
}

.nav-tabs > li > a{
  color: #A4A4A4;
  font-weight: 400;
  font-size: 12px;
  padding: 24px 25px;
}

.topics{
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 75px;
  align-items: center;
  padding: 0px;
}

.topics li{
  font-size: 12px;
  color: #A4A4A4;
  text-align: center;
}


.link-article:hover{
  text-decoration: none;
}

.link-article:hover h3{
  color: #000;
}

.container-title-post{
  color: #6D636D;
  font-weight: 400;
  margin: 5% auto;
}

.container-title-post a:hover > h3{
  color: #000;
}

.footer-text{
  margin: 10% auto 0;
  width: 96%;
  padding: 20px;
}

.owner{
  font-size: 12px;
  font-weight: 600;
  float: left;
  margin: 0px;
  color: #A4A4A4;
}

.owner::after{
  content: ".";
  color: #0000;
  display: inline-block;
  width: 3px;
  vertical-align: middle;
  margin: 0px 15px;
  height: 3px;
  border-radius: 50%;
  background: #a7a7a7;
}

.footer-text p{
  font-size: 12px;
  color: #A4A4A4;
  font-weight: 200;
  margin: 0px;
}

.button-topics{
  display: inline-block;
  width: 100%;
  margin: 0px 0px 30px;
  height: 80px;
}

.button-topics a{
  font-family: 'Nunito Sans';
  padding: 14px 30px;
  background: #fff;
  color: #6D636D;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  border: 1px solid #6D636D;
  border-radius: 3px;
  position: relative;
  top: 50%;
}

.button-topics a:hover{
  text-decoration: none;
  background: #000;
  color: #fff;
}



#section-inspiration{
  background: #FCFAFC;
  padding: 25px;
}

.banner-inspiration{
  height: 180px;
}

.text-inspiration{
  text-align: center;
  position: relative;
  top: 80%;
  transform: translate(0,-50%);
}

.text-inspiration h2{
  font-weight: 200;
  color: #828282;

}

.text-inspiration p{
  font-size: 24px;
  font-weight: 200;
  color: #6D636D;
}

.carousel-inner > .item > img{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  display: block;
}

.carousel-control.right{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  color: #000;
}

.carousel-control.left{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  color: #000;
}

.carousel .item {
  height: 435px;
}

.carousel-indicators li{
}

.carousel-container{
  padding-bottom: 40px;
  padding-top: 40px;
}

.banner-consciousness{
  text-align: center;
  height: 600px;
  background: url(../assets/images/consciousness.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-consciousness{
  position: relative;
  top: 40%;
  transform: translate(0,-50%);
}

.text-consciousness h2{
  color: #fff;
  font-weight: 200;
}

.text-consciousness p{
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  padding: 0px 15px;
}

.button-consciousness{
  position: relative;
  top: 43%;
  transform: translate(0,-35%);
}

.button-consciousness a{
  font-family: 'Nunito Sans';
  padding: 14px 30px;
  background: #fff;
  color: #6D636D;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  border: 1px solid #6D636D;
  border-radius: 3px;
}

.button-consciousness a:hover{
  text-decoration: none;
  background: #000;
  color: #fff;
}

.section-footer{
  padding: 6%;
}

.section-footer h6{
  color: #6D636D;
  font-weight: 600;
}

.list-footer a{
  color: #A4A4A4;
  font-size: 19px;
  font-weight: 300;
}

.social-net-logo p{
  color: #A4A4A4;
  font-size: 19px;
  font-weight: 300;
}

#section-consciousness{
  position: relative;
  top: -30px;
}

/****************** TOPICS ***********************/

.own-cont-img-topics{
  padding: 20px 0px;
  height: 456px;
}

.own-cont-img-topics img{
  max-height: 100%;
}

.owner-topics{
  margin: 3% auto;
}

.container-banner-topics{
  position: relative;
  top: -20px;
  text-align: center;
  height: 600px;
  background: url(../assets/images/bannerTopics.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container-banner-inspiration{
  position: relative;
  top: -20px;
  text-align: center;
  height: 600px;
  background: url(../assets/images/bannerInspiration.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-topics{
  position: relative;
  top: 40%;
  transform: translate(0,-50%);
}

.text-topics h2{
  color: #fff;
  font-weight: 200;
}

.text-topics p{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.img-topic-menu{
  width: 65px;
  height: 65px;
  border: 1px solid #0000002b;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  margin: 10px;

}

.img1{
  background-image: url(../assets/images/imgPost.png);
}

.img2{
  background-image: url(../assets/images/imgPost2.png);
}

.img3{
  background-image: url(../assets/images/imgPost3.png);
}

.img4{
  background-image: url(../assets/images/imgTopics.png);
}

.img5{
  background-image: url(../assets/images/imgPost3.png);
}

.img6{
  background-image: url(../assets/images/imgPost2.png);
}

.menu-topics {
  padding: 3% 0;
}

.container-topics-text{
  padding: 20px;
}

.container-topics-text p{
  font-size: 18px;
  font-weight: 200;
  line-height: 36px;
  color: #6D636D;
}

.listing{
  width: 95.5%!important;
  height: 397px!important;
}

.menu-topics article{
  margin: 5% auto;
  height: 600px;
  border-radius: 5px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
}

.link-topics{
  padding: 0px 15px;
}

.menu-page-topics{
}

#section-topics{
  position: relative;
  top: -20px;
}

.topics a{
  font-size: 12px;
  font-weight: 400;
  color: #8F8F8F;
}

#article-center{
  padding: 20px;
  margin: 20px 0px;
}

.select-topics{
  padding: 20px;
}

.select-topics a{
  font-size: 70px;
  font-weight: 200;
  color: gray;
  margin: 0px 12px;
}

.img-menu{
  margin: 10px;
}

.btn-default{
  color: #fff;
  background-color: #fff0;
  border-color: transparent;
  padding: 16px 10px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-default:hover{
  background-color: #fff0;
  border-color: transparent;
}

.btn-default:active, .btn-default:active:focus{
  background-color: #fff0;
  border-color: transparent;
  box-shadow: none;
}

.btn-default:focus{
  background-color: #fff0;
  border-color: transparent;
  box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
  outline: none;
}

.modal-footer{
  border: none;
}

.modal-header{
  border: none;
}

.navbar-nav .modal-header {
  border: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.modal-sm {
  width: 835px;
  height: 561px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%)!important;
  -ms-transform: translate(0, -50%)!important;
  -o-transform: translate(0, -50%)!important;
  transform: translate(0, -50%)!important;
}

.modal-sm > .modal-content{
  height: 100%;
  background-color: #ffffff;
}

.modal-sm > .modal-content > .modal-body{
  padding: 0px;
  height: 100%;
}

.modal-sm > .modal-content > .modal-body img{
  width: 50%;
  float: right;
}


.cont-input-modal{
  padding: 25px;
}

.cont-input-modal input{
  width: 100%;
  height: 80px;
  outline: none;
}

.cont-input-modal button{
  padding: 10px 33px;
  color: #fff;
  background: #000;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
  border: 0px;
}

.cont-input-modal button:hover{
  color: #fff;
  background-color: #353535;
  border-color: #353535;
}

#google{
  width: 15px!important;
}

.img-social-modal{
  float: none!important;
  width: 10px!important;
}

.text-social-modal{
  float: right;
  margin: 2px;
}

.modal-footer{
  padding-top: 20%;
}

.modal-footer p{
  color: #A6A6A6;
  font-size: 13px;
  font-weight: 200;
}

.form-modal{
  display: inline-block;
  width: 49%;
  position: relative;
  top: 20%;
  transform: translate(0,-20%);
  padding: 20px;
  height: 100%;
}

.form-modal a{
  color: #6D636D;
}

.form-modal h3{
  padding: 20px;
}

.topics .btn-default{
  color: #8F8F8F;
  background-color: #fff0;
  border-color: transparent;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 0px;
}

.modal-content h2{
  font-size: 36px;
  font-weight: 200;
  color: #A4A4A4;
  padding: 20px;
}

.form-modal-search{
  width: 60%;
  margin: 0 auto;
}

.form-modal-search > .cont-input-modal input{
  background: #292f3100;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 70px;
  font-weight: 200;
  color: #fff;
}

.form-modal-search > .cont-input-modal input:focus{
  outline: none;
}

.footer-moda-sm{
  position: relative;
  top: 20%;
  transform: translate(0,-20%);
}

.list-members-search > li > a > img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.list-members-search > li > a > span{
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  margin:0 15px;
}

.container-search-list h3{
  color: #fff;
  padding: 25px;
  font-weight: 300;
}

.container-search-list h2{
  color: #fff;
  font-weight: 300;
}

.modal-lg > .modal-content{
  background: #000000f0;
}

.modal-search-body > .modal-form
.cont-img-modal-topics{
  height: 65px;
  width: 65px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
}

.cont-img-modal-topics img{
  border-radius: 50%;
  width: 65px!important;
  height: 65px;
  background: gray;
}

.cont-list-interests h3{
  padding: 30px 0px;
}

.row-modal-topics{
  padding: 20px;
}

.new-interests .cont-img-modal-topics{
  opacity: 0.5;
}

.new-interests .cont-img-modal-topics:hover{
  opacity: 1;
}

.cont-img-modal-topics .glyphicon{
  color: #fff;
  z-index: 1;
  font-weight: 200;
  top: -50%;
  transform: translate(0, -50%);
  font-size: 15px;
}

/*************** PROFLIE *******************/

.listing{
  border-radius: 5px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
  margin: auto;
  width: 96%;
  height: 397px;
}

.container-following{
  padding: 30px;
  display: inline-block;
}

.margin-button{
  margin-top: 15px;
}

.text-desc-profile p{
  font-size: 19px;
  font-weight: 600;
  color: #6D636D;
}

#desc-profile{
  font-size: 17px;
  font-weight: 200;
}

.button-desc-profile{
  border: 1px solid #A4A4A4;
  padding: 13.5px 19px;
  font-size: 12px;
  font-weight: 600;
  color: #A4A4A4;
  border-radius: 5px;
}

.container-banner-profile{
  text-align: center;
  height: 600px;
  background: url(../assets/images/bannerProfile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.cont-text-banner-profile{
  position: relative;
  top: 35%;
  transform: translate(0,-35%);
}

.cont-text-banner-profile h2{
  color: #fff;
  font-weight: 200;
}

.cont-text-banner-profile p{
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  padding: 0px 15px;
}

.text-post-profile{
  margin: auto;
  font-size: 18px;
  font-weight: 300;
  color: #6D636D;
  letter-spacing: 1px;
  line-height: 2;
}

.text-post-profile p{
  padding: 20px 0;
}

.button-edit{
  color: #fff!important;
  background: #242424;
  border-radius: 0px!important;
  padding: 14px 70px!important;
}

#ember321{
  float: right;
}

.cont-list-interests{
  padding: 40px 0px;
  display: inline-block;
  width: 100%;
}

.tab-content{
  padding: 40px 0px;
}

.container-img-profile{
  background: url(../assets/images/imgPost5.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 397px;
}

 .title-posts{
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  margin-left: 3%;
 }

/********** ARTICLES ************/

.container-banner-article{
  background: url(../assets/images/imgArticle.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -20px;
}

.banner-article{
  text-align: center;
  height: 600px;
  background: rgba(54, 16, 8, 0.15);
}

.cont-text-banner-article{
  position: relative;
  top: 35%;
  transform: translate(0,-35%);
  width: 50%;
  margin: auto;
}

.cont-text-banner-article h2{
  color: #fff;
  font-weight: 200;
}

.date-article{
  color: #fff;
  position: relative;
  top: 40%;
  transform: translate(0,-40%);
}

.date-article p{
  font-size: 12px;
  font-weight: 600;
}

#section-article-top{
  padding: 30px 0px;
}

.text-initial-article{
  margin: 20px auto;
}

.text-initial-article p{
  font-size: 30px;
  font-weight: 300;
  color: #6D636D;
}

.author-article{
  margin: 20px 66px;
  width: 100%;
}

.social-article{
  text-align: center;
  width: 36px;
  margin: 20px auto;
  height: 36px;
}

.social-facebook{
  border-radius: 50%;
  box-shadow: 1px 2px 12px #80808082;
}

.social-article img{
  height: 100%;
  padding: 8px;
}

.img-author-article{
  width: 50px;
  height: 50px;
}

.img-author-article img{
  max-width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.author{
  margin: 20px 0px;
}

.author h4{
  color: #6D636D;
  font-weight: 600;
}

.text-author-article p{
  font-size: 15px;
  font-weight: 400;
  color: #A4A4A4;
}

.text-article{
  padding: 30px 0px 30px 4px;
  margin-top: 20px;
}

.text-article p{
  font-size: 21px;
  font-weight: 300;
  color: #6D636D;
  margin-left: 5px;
}

.container-img-article img{
  max-width: 100%;
  display: block;
  margin: auto;
}

.container-img-author{
  margin: 7px;
}

.container-img-author img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.container-img-author span{
  font-size: 20px;
  font-weight:600;
  color: #6D636D;
  margin-left: 14px;
}

.container-img-author p{
  font-size: 15px;
  color: #A4A4A4;
  font-weight: 400;
  position: absolute;
  top: 57%;
  left: 9%;
  margin-left: 20px;
}

.cont-textArea-article{
  padding: 30px;
  width: 70%;
  margin: 60px auto;
}

.cont-textArea-article label{
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #6D636D;
}

.cont-textArea-article textarea{
  border-radius: 0px;
  margin-top: 5%;
}

.social-net{
  margin: 0px;
}

@media (min-width: 768px) and (max-width:1024px){

  .list-links-inspiration{
    width: 100%;
  }

  .container-text p{
    line-height: 23px;
  }

  .link-topics article{
    width: 325px;
    height: 650px;
  }

  .article-col-4{
    width: 195px!important;
    height: 700px!important;
  }
}

@media (max-width: 767px) {

  h1{
    font-size: 47px;
  }

  h2{
    font-size: 35px;
  }

  .navbar-header{
    padding: 10px;
  }

  #navbar {
    float: right;
    width: 59%;
  }

  .navbar-nav {
    float: right;
    width: 100%;
  }

  .nav > li {
    float: left;
  }

  .carousel .item {
    height: 184px;
    width: 75%;
  }

  .carousel-indicators{
    display: none;
  }

  .text-inspiration{
    top: 40%;
  }

  .menu-topics{
    padding: 10px;
  }

  .form-modal{
    width: 100%;
  }

  .ulNavImage{
    margin: 0;
  }

  .footer-moda-sm{
    position: initial;
  }

  .modal-sm{
    width: 100%;
    height: 435px;
  }

  .cont-img-modal-topics{
    padding: 10px;
  }

  .cont-text-banner-article {
    width: 92%;
  }

  .text-initial-article p{
    font-size: 18px;
  }

  .author-article {
    width: 96%;
    margin: 20px 3px;
  }

  .container-banner-article {
    height: 616px;
  }

  .text-article p{
    margin: 0 0 10px;
  }

  .cont-textArea-article{
    padding: 0px;
    width: 100%;
  }

  .modal-footer span{
    font-size: 15px;
  }

  .button-modal-nav{
    margin: 20px 0px;
  }

  .menu-modal-nav {
    width: 100%;
  }

  .articles img {
    width: 74%;
    display: block;
    margin: auto;
    float: none;
  }

  .cont-articles h4 {
    width: 100%;
    text-align: center;
  }

  .container-title-post h3{
    padding-top: 20px;
  }

  .container-img-author p{
    left: 29%;
  }


  .container-img img{
    max-height: 50%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 0%;
    transform: translate(0,0%);
  }


  .title-posts{
    width: 100%;
  }

  .banner-home{
    height: 584px;
  }

  .nav-tabs{
    width: 100%;
  }

  #first-child-profile{
    padding: 24px 7px;
  }

  .own-cont-img-topics h3{
    margin-top: 25%;
  }
  .list-links-inspiration{
    flex-flow: wrap-reverse;
    width: 100%;
  }

  .navbar-header .btn-default{
    font-size: 30px;
  }

  .nav-center{
    width: 68%;
    left: 4%;
  }

  .logo-link img{
    width: 70%;
  }

  .nav-center > .navbar-nav > li > a{
    padding-top: 20px;
  }

  .nav-up {
    top: -127px;
  }

  .container-banner-home{
    background: url(../assets/images/banner-home-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 596px;
  }

  .banner-consciousness{
    background: url(../assets/images/banner-home-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .cont-text-banner p{
    font-size: 35px;
    font-weight: 300;
  }

  .link-topics{
    padding: 0px;
  }

  .link-topics article{
    width: 100%;
    height: 185px;
  }

  .article-col-4{
    width: 100%!important;
    height: 185px!important;
    margin: 5% auto!important;
  }

  .container-text{
    float: right;
    width: 56%;
  }

  .container-text h3{
    width: 100%;
    font-size: 15px;
  }

  .img-post{
    float: left;
    width: 44%;
    height: 185px;
  }

  .image-post1{
    background-image: url(../assets/images/imgPostMob.png);
  }

  .listing {
    width: 100%!important;
    height: 185px!important;
  }

  .container-topics-text{
    padding: 0px;
  }

  .container-img-profile{
    height: 100%;
  }

  .first-child-article{
    font-size: 15px;
  }

  .menu-topics article{
    width: 100%;
    height: 185px;
  }

  .nav-tabs > li > a{
    padding: 7px!important;
    font-size: 10px!important;
  }

  .nav-tabs > li:last-child{
    margin: 0px;
  }
}

.cont-h3 h3{
  width: 92%;
}
