<div class="container-banner-article">
  <div class="banner-home">
    <div class="cont-text-banner-article">
      <h2>How To Be Happy: A Scientific Perspective</h2>
    </div>
    <div class="date-article">
      <!-- <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3> -->
      <p>19 sep 2017</p>
    </div>
  </div>
</div>
<section id="section-article-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <ul id="sidebar">
          <li>
            <div class="social-article">
              <img src="assets/images/vectorSocial1.png" alt="">
            </div>
          </li>
          <li>
            <div class="social-facebook social-article">
              <img src="assets/images/vectorSocial2.png" alt="">
            </div>
          </li>
          <li>
            <div class="social-article">
              <img src="assets/images/vectorSocial3.png" alt="">
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <div class="text-initial-article">
              <p>
                And even if you’re reading this on your laptop of PC, there’s one thing I want to ask you: How important is your device to you?
              </p>
            </div>
            <div class="text-article">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="author-article">
              <div class="img-author-article">
                <img src="assets/images/imgPost.png" alt="">
              </div>
              <div class="author">
                <h4>Kin Andrew</h4>
              </div>
              <div class="text-author-article">
                <p>Journalist, feminist, home cook | Forbes</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="container-img-article">
              <img src="assets/images/imgArticle2.png" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="text-article">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <br>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="container-img-author">
              <img src="assets/images/imgPost.png" alt="">
              <span>
                Kin Andrew
              </span>
              <p>Journalist, feminist, home cook | Forbes</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="cont-textArea-article">
          <label for="[object Object]">Leave a reply</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</section>
