<div class="container-banner-inspiration">
  <div class="banner-home">
    <div class="text-topics">
      <h2>TOPICS</h2>
      <p>Articles related to yoga and consciouness</p>
    </div>
    <div class="button-home">
      {{#link-to 'home' class="button" }}
        TELL YOUR STORY
      {{/link-to}}
    </div>
  </div>
</div>
<section id="section-topics">
  <div class="container">
    <div class="menu-topics menu-page-topics">
      <ul class="topics">
        <li class="">
          <a href="#">
            <div class="img-topic-menu">
            </div>
            {{#bs-modal size="sm" open=modal3 onHidden=(action (mut modal3) false) as |modal|}}
              {{#modal.header}}
                <h2 class="modal-title text-center">
                  EXPLORE OUR TOPICS
                </h2>
              {{/modal.header}}
              {{#modal.body}}
                <div class="container-fluid">
                  <div class="row row-modal-topics">
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost2.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost3.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imPost4.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="row row-modal-topics">
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost2.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost3.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imPost4.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost.png" alt="">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                      <div class="cont-img-modal-topics">
                        <img class="img-topics" src="assets/images/imgPost.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              {{/modal.body}}
            {{/bs-modal}}
            {{#bs-button onClick=(action (mut modal3) true)}}SEE ALL{{/bs-button}}
          </a>
        </li>
        <li class="hidden-xs">
          <a href="#">
            <div class="img-topic-menu img2">
            </div>
            TRAVEL
          </a>
        </li>
        <li class="hidden-xs">
          <a href="#">
            <div class="img-topic-menu img3">
            </div>
            WORK
          </a>
        </li>
        <li class="hidden-xs">
          <a href="#">
            <div class="img-topic-menu img4">
            </div>
            LOVE
          </a>
        </li>
        <li class="hidden-xs">
          <a href="#">
            <div class="img-topic-menu img5">
            </div>
            LIFESTYLE
          </a>
        </li>
        <li class="hidden-xs">
          <a href="#">
            <div class="img-topic-menu img6">
            </div>
            PRODUCTIVITY
          </a>
        </li>
      </ul>
    </div>
    <div class="link-topics">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a class="link-article" href="article">
            <article class="">
              <div class="container-img">
                <div class="img-post image-post1">
                </div>
              </div>
              <div class="container-text">
                <h3 class="container-title-post">Don’t Worry About Job Burn-Out. Worry About Job Boredom</h3>
                <p class="hidden-xs">I believe that most of us have that power. In my experience, most of the noise is there by choice,
                   but we’ve fallen into patterns over the years</p>
              </div>
              <div class="footer-text hidden-xs">
                <p class="owner">ADAM RILEY</p>
                <p>DATE</p>
              </div>
            </article>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="link-article" href="article">
            <article class="">
              <div class="container-img">
                <div class="img-post image-post2">
                </div>
              </div>
              <div class="container-text">
                <h3 class="container-title-post">How To Be Happy: A Scientific Perspective</h3>
                <p class="hidden-xs">I believe that most of us have that power. In my experience, most of the noise is there by choice,
                   but we’ve fallen into patterns over the years</p>
              </div>
              <div class="footer-text hidden-xs">
                <p class="owner">SEBASTIEN BRUNET</p>
                <p>DATE</p>
              </div>
            </article>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="link-article" href="article">
            <article class="">
              <div class="container-img">
                <div class="img-post image-post1">
                </div>
              </div>
              <div class="container-text">
                <h3 class="container-title-post">Don’t Worry About Job Burn-Out. Worry About Job Boredom</h3>
                <p class="hidden-xs">I believe that most of us have that power. In my experience, most of the noise is there by choice,
                   but we’ve fallen into patterns over the years</p>
              </div>
              <div class="footer-text hidden-xs">
                <p class="owner">ADAM RILEY</p>
                <p>DATE</p>
              </div>
            </article>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="link-article" href="article">
            <article class="">
              <div class="container-img">
                <div class="img-post image-post2">
                </div>
              </div>
              <div class="container-text">
                <h3 class="container-title-post">How To Be Happy: A Scientific Perspective</h3>
                <p class="hidden-xs">I believe that most of us have that power. In my experience, most of the noise is there by choice,
                   but we’ve fallen into patterns over the years</p>
              </div>
              <div class="footer-text hidden-xs">
                <p class="owner">SEBASTIEN BRUNET</p>
                <p>DATE</p>
              </div>
            </article>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="link-article" href="article">
            <article class="">
              <div class="container-img">
                <div class="img-post image-post2">
                </div>
              </div>
              <div class="container-text">
                <h3 class="container-title-post">How To Be Happy: A Scientific Perspective</h3>
                <p class="hidden-xs">I believe that most of us have that power. In my experience, most of the noise is there by choice,
                   but we’ve fallen into patterns over the years</p>
              </div>
              <div class="footer-text hidden-xs">
                <p class="owner">SEBASTIEN BRUNET</p>
                <p>DATE</p>
              </div>
            </article>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a class="link-article" href="article">
            <article class="">
              <div class="container-img">
                <div class="img-post image-post2">
                </div>
              </div>
              <div class="container-text">
                <h3 class="container-title-post">How To Be Happy: A Scientific Perspective</h3>
                <p class="hidden-xs">I believe that most of us have that power. In my experience, most of the noise is there by choice,
                   but we’ve fallen into patterns over the years</p>
              </div>
              <div class="footer-text hidden-xs">
                <p class="owner">SEBASTIEN BRUNET</p>
                <p>DATE</p>
              </div>
            </article>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="select-topics">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
  </div>
</section>
